OPENAI_API_KEY=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
HUGGINGFACEHUB_API_TOKEN=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